@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 237, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html{
    font-size: 62.5%;
}

.tijd-p{
    font-size: 2rem;
}

.tijd{
    font-size: 2.5rem;
    font-weight: bold;
}

li{
    height:50vh;
    display: flex;
    gap: 5rem;
    padding-top: 5rem;
}

.container{
    list-style: none;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem 0 rgb(133, 133, 133);
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather > img{
    width: 10rem;
    height: auto;
}

.city{
    font-size: 2rem;
    margin: 2rem;
}

.temp{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
}

.Chance{
    font-size: 2rem;
    margin: 2rem;
}

.TitelZO{
    font-size: 3rem;
}

.zonneStand{
    font-size: 2rem;
}

.large--container{
    width: 85rem;
    height: 50rem;
}